arch==8.0.0 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
formulaic==1.2.2 ; python_version >= "3.10" and python_version < "4.0"
interface-meta==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
narwhals==2.26.0 ; python_version >= "3.10" and python_version < "4.0"
numpy==2.2.6 ; python_version == "3.10"
numpy==2.4.6 ; python_version == "3.11"
numpy==2.5.3 ; python_version >= "3.12" and python_version < "4.0"
packaging==26.3 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.3.3 ; python_version == "3.10"
pandas==3.0.6 ; python_version >= "3.11" and python_version < "4.0"
patsy==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
pytz==2026.4 ; python_version == "3.10"
scipy==1.15.3 ; python_version == "3.10"
scipy==1.17.1 ; python_version == "3.11"
scipy==1.18.1 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
statsmodels==0.15.0 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.70.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.16.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2026.4 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version == "3.10"
wrapt==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
